:root {
    --cor-de-fundo-caixas: #ffffff;
    --cor-do-texto-botoes: #ffffff;
    --cor-de-fundo-iniciar: #04c30e;
    --cor-de-fundo-reiniciar: #ff6347;
    --cor-da-linha: #000000;

    --fonte-padrao: cursive;
}
